<div class="row" index>
		<menu-bar id="menuBarDirective"></menu-bar>
		
		
		<video-player id="videoPlayerDirective"></video-player>
		<show-chooser id="showChooserDirective"></show-chooser>
		<div class="textContent col-xs-7 col-xs-offset-1">
			<div id="aboutPage">
				<h3>About</h3>
				<hr/>
				<p>
					"Give Me A Show !" was developped to let you be lazier and happier.</br>
					You can find another "Give Me.." website, but about musics at : 
					<a href="http://givemeasong.net">Give Me A Song</a> </br>
					It is our very first webSite and we need your feedbacks ! Contact us at : ogdabou@gmail.com.</br></br>
					Dev stuff by Ogdabou</br>
					Server stuff by Naixy</br>
					Feel free to send me feedbacks : ogdabou@gmail.com</br>
				</p>
			</div>
			<div id="controlPage">
				<h3>Controls</h3>
				<hr/>
				<h4>Keyboard</h4>
				<ul>
					<li>Left arrow : change to previous video.</li>
					<li>Right arrow : random the next video.</li>
				</ul>
				<h4>Voice</h4>
				<p>
					We use a recent API which is only (for the moment) supported by Chrome. It cannot be used on Firefox. We will implement the 
					thing on Firefox as soon as there is something available.</br>
				</p>
				<p>
					We will work on a full voice-controlled website by the future.
					Feel free to send us feedbacks and ideas.
				</p>
				<ul>
					<li>"next" : random to the next video.</li>
					<li>"previous" : go to the previous video.</li>
					<li>"up" : up the volume by 10%</li>
					<li>"down" : down the volume by 10%</li>
				</ul>
			</div>
		</div>
	</div>
</div>