.settings
.project
target/*
.classpath
derby.log
log.out
/target
.idea
*.iml
*.bak
*.webm
src/main/webapp/showsDB/*
bower_components/*
node_modules/*
src/main/webapp/resources/jsLibs/*
/Resources/gmas-database.properties