.settings
.project
target/*
.classpath
derby.log
log.out
/target
.idea
*.iml
*.bak
*.webm
src/main/webapp/showsDB/*
bower_components/*
node_modules/*
src/main/webapp/resources/jsLibs/*
src/main/webapp/WEB-INF/pages/*.html
/Resources/gmas-database.properties
src/main/resources/*.properties
target-grunt/
grunt-maven.json