language : java

before_install :
  # JavaScript test requirements
  - sudo add-apt-repository -y ppa:chris-lea/node.js
  - sudo apt-get -y update
  - sudo apt-get -y install nodejs
  - sudo npm install -g grunt-cli
  - sudo npm install -g bower
  - sudo npm install
  
install :
  - mvn install -DskipTests=true -B -V -q
  
test:
  - mvn test -B -q

after_success:
  - mvn clean cobertura:cobertura coveralls:report -DserviceName=Travis-CI -DserviceJobId=$TRAVIS_JOB_ID
