<div>
	<div class="row">
		<div class="col-md-2">
			<span>Username </span>
		</div>
		<div class="col-md-4">
			<input ng-model="user.login" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<span>password </span>
		</div>
		<div class="col-md-4">
			<input ng-model="user.password" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<span>email </span>
		</div>
		<div class="col-md-4">
			<input ng-model="user.email" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<span>Confirm email </span>
		</div>
		<div class="col-md-4">
			<input />
		</div>
	</div>
</div>