<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">GiveMeAShow</a>
				<div class="collapse navbar-collapse">
						<p class="navbar-text pull-right">
							<a href="logout" class="navbar-link">Log Out</a>
						</p>

					<ul class="nav navbar-nav">
						<li id="videoMenu" ng-class="{active: videoSelected}" ng-click="toggleVideo();"><a>Video</a> </li>
						<li id="controlsLI" ng-class="{active: ctrlSelected}" ng-click="toggleCtrl();"><a id="controlsMenu">Controls</a></li>
						<li id="aboutLI" ng-class="{active: aboutSelected}" ng-click="toggleAbout();"><a id="aboutMenu">About</a></li>
						<li id="accountLi" ng-class="{active: accountSelected}" ng-click="toggleAccount();"><a id="accountMenu">My Account</a></li>
						
							<li class="dropdown" id="adminDropDown" ng-if="CREDENTIAL.isAdmin">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin</a>
								<ul class="dropdown-menu">
									<li id="adminShowListMenu"><a href="admin/show/list">Show List</li>
									<li id="adminShowNewMenu"><a href="admin/show/new">New Show</a></li>
									<li id="adminSeasonListMenu"><a href="admin/season/list"/>Season List</a></li>
									<li id="adminSeasonNewMenu"><a href="admin/season/new">New Season</a></li>
									<li id="adminVideoNewMenu"><a href="admin/video/new">New Video</a></li>
									<li id="adminLangNewMenu"><a href="admin/lang/new">New Language</a></li>
									<li id="adminPendingMenu"><a href="admin/video/pending">Pending</a></li>
								</ul>
							</li>
							
					</ul>
				</div>
			</div>
		</div>
	</div>